body {
  background-image: url(/assets/images/pixel-art-background-landscape.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1080px) {
  body {
    background-image: url(/assets/images/pixel-art-background-portrait.jpg);
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 40px;
  color: #f6eceb;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'VT323', monospace;
  text-align: center;
}